mixin logo(color)
  if !color
    a.logo(href="/", itemprop="url")
      img(itemprop="logo", src=require('../components/logo/logo.svg'),
      alt="Интернет-магазин ювелирных православных изделий",
      title="Интернет-магазин ювелирных православных изделий")
  else
    a.logo(href="/")
      img(src=require('../components/logo/logo-white.svg'),
      alt="Интернет-магазин ювелирных православных изделий",
      title="Интернет-магазин ювелирных православных изделий")