include ../button/button

mixin items(quantity)
  .item__container(itemscope, itemtype="http://schema.org/ItemList")
    | @foreach ($items as $key => $item)
    .item(class="item--" + quantity, itemscope, itemprop="itemListElement", itemtype="http://schema.org/Product")
      .item__sign
        p(itemprop="brand") {{$item->manufacturer}}
      .item__article(itemprop="model") {{$item->article}}
      .item__image
        a(href!="/catalog/{{$item->category_slug}}/{{$item->slug}}", itemprop="url")
          picture
            source(srcset!="/images/items/{{$item->slug}}-thumb.webp", data-src!="/images/items/{{$item->slug}}-thumb.webp", type="image/webp")
            img(src!="/images/items/{{$item->slug}}-thumb.jpg",
            data-src!="/images/items/{{$item->slug}}-thumb.jpg",
            alt!="{{$item->name}}",
            title!="{{$item->name}}",
            itemprop="image")
            <meta itemprop="description" content="{{$item->name}}">
      .item__name
        a(href!="/catalog/{{$item->category_slug}}/{{$item->slug}}")
          span(itemprop="name") {{$item->name}}
      .item__price(itemscope, itemprop="offers", itemtype="http://schema.org/Offer")
        p(itemprop="price") {{$item->price}}
        <meta itemprop="priceCurrency" content="RUB">
        <meta itemprop="availability" content="http://schema.org/InStock">
        <link itemprop="url" href="{{ url('') }}/catalog/{{$item->category_slug}}/{{$item->slug}}" />
      .item__button
        +button('Подробнее', 'button--small', '/catalog/{{$item->category_slug}}/{{$item->slug}}')
    | @endforeach

mixin itemsSlider()
  .swiper-container.js-item-slider
    .swiper-wrapper(itemscope, itemtype="http://schema.org/ItemList")
      | @foreach ($items as $key => $item)
      .swiper-slide(style="padding: 0 5px 5px 0")
        .item.item--for-slider(itemscope, itemprop="itemListElement", itemtype="http://schema.org/Product")
          .item__sign
            p(itemprop="brand") {{$item->manufacturer}}
          .item__article(itemprop="model") {{$item->article}}
          .item__image
            a(href!="/catalog/{{$item->category_slug}}/{{$item->slug}}", itemprop="url")
              picture
                source(srcset!="/images/items/{{$item->slug}}-thumb.webp", data-src!="/images/items/{{$item->slug}}-thumb.webp", type="image/webp")
                img(src!="/images/items/{{$item->slug}}-thumb.jpg",
                data-src!="/images/items/{{$item->slug}}-thumb.jpg",
                alt!="{{$item->name}}",
                title!="{{$item->name}}",
                itemprop="image")
                <meta itemprop="description" content="{{$item->name}}">
          .item__name
            a(href!="/catalog/{{$item->category_slug}}/{{$item->slug}}")
              span(itemprop="name") {{$item->name}}
          .item__price(itemscope, itemprop="offers", itemtype="http://schema.org/Offer")
            p(itemprop="price") {{$item->price}}
            <meta itemprop="priceCurrency" content="RUB">
            <meta itemprop="availability" content="http://schema.org/InStock">
            <link itemprop="url" href="{{ url('') }}/catalog/{{$item->category_slug}}/{{$item->slug}}" />
          .item__button
            +button('Подробнее', 'button--small', '/catalog/{{$item->category_slug}}/{{$item->slug}}')
      | @endforeach

mixin similarProductSlider()
  .swiper-container.js-item-slider
    .swiper-wrapper(itemscope, itemtype="http://schema.org/ItemList")
      | @foreach ($similar_products as $key => $item)
      .swiper-slide(style="padding: 0 5px 5px 0")
        .item.item--for-slider(itemscope, itemprop="itemListElement", itemtype="http://schema.org/Product")
          .item__sign
            p(itemprop="brand") {{$item->manufacturer}}
          .item__article(itemprop="model") {{$item->article}}
          .item__image
            a(href!="/catalog/{{$item->category_slug}}/{{$item->slug}}", itemprop="url")
              picture
                source(srcset!="/images/items/{{$item->slug}}-thumb.webp", data-src!="/images/items/{{$item->slug}}-thumb.webp", type="image/webp")
                img(src!="/images/items/{{$item->slug}}-thumb.jpg",
                data-src!="/images/items/{{$item->slug}}-thumb.jpg",
                alt!="{{$item->name}}",
                title!="{{$item->name}}",
                itemprop="image")
                <meta itemprop="description" content="{{$item->name}}">
          .item__name
            a(href!="/catalog/{{$item->category_slug}}/{{$item->slug}}")
              span(itemprop="name") {{$item->name}}
          .item__price(itemscope, itemprop="offers", itemtype="http://schema.org/Offer")
            p(itemprop="price") {{$item->price}}
            <meta itemprop="priceCurrency" content="RUB">
            <meta itemprop="availability" content="http://schema.org/InStock">
            <link itemprop="url" href="{{ url('') }}/catalog/{{$item->category_slug}}/{{$item->slug}}" />
          .item__button
            +button('Подробнее', 'button--small', '/catalog/{{$item->category_slug}}/{{$item->slug}}')
      | @endforeach
