.product-image
  .product-image__showcase
    picture
      source(srcset!="{{$product->image_path[0]['name']}}.webp", data-src!="{{$product->image_path[0]['name']}}.webp", type="image/webp")
      img(src!="{{$product->image_path[0]['name']}}.{{$product->image_path[0]['extension']}}",
      data-src!="{{$product->image_path[0]['name']}}.{{$product->image_path[0]['extension']}}",
      alt!="{{$product->name}}",
      title!="{{$product->name}}",
      itemprop="image")
  ul.product-image__preview
    | @foreach ($product->image_path as $image)
    li
      picture
        source(srcset!="{{$image['name']}}-thumb.webp", data-src!="{{$image['name']}}-thumb.webp", type="image/webp")
        img(src!="{{$image['name']}}-thumb.{{$image['extension']}}",
        data-src!="{{$image['name']}}-thumb.{{$image['extension']}}",
        alt!="{{$product->name}}",
        title!="{{$product->name}}")
    | @endforeach
