.product-image
  .product-image__showcase
    picture
      source(srcset!="/images/items/{{$product->image_path[0]}}.webp", data-src!="/images/items/{{$product->image_path[0]}}", type="image/webp")
      img(src!="/images/items/{{$product->image_path[0]}}.jpg",
      data-src!="/images/items/{{$product->image_path[0]}}.jpg",
      alt!="{{$product->name}}",
      title!="{{$product->name}}",
      itemprop="image")
  ul.product-image__preview
    | @foreach ($product->image_path as $image)
    li
      picture
        source(srcset!="/images/items/{{$image}}.webp", data-src!="/images/items/{{$image}}.webp", type="image/webp")
        img(src!="/images/items/{{$image}}.jpg",
        data-src!="/images/items/{{$image}}.jpg",
        alt!="{{$product->name}}",
        title!="{{$product->name}}")
    | @endforeach